<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
    <link rel="stylesheet" href="/css/style-register.css">

</head>

<body>
    <header class=" j-space-between bgc-header font-color header ">
        <div class="block-A display-flex" style="justify-content: space-between; align-items:center;">
            <section class="logotype display-flex">
                <div class=" logo">
                    <a href="/"><img src="/img/logo.svg" alt="logo"></a>
                    <div class="logo-verde">
                        <a href="/"><img src="/img/logo-verde.svg" alt="logo"></a>
                    </div>
                </div>
            </section>
            <section style=" align-items: center;" class=" categorias margin-10 display-flex w-45 font-12 ">
                <div class="hombre margin-10 ">
                    <div class="hombre-barra""></div>
                    <a class=" text-decoration" href="">HOMBRE
                        </a>
                    </div>
                    <div class="mujer margin-10">
                        <div class="mujer-barra""></div>
                        <a class=" text-decoration" href="">MUJER</a>
                        </div>
                        <div class=" niños margin-10">
                            <div class="niños-barra"></div>
                            <a class=" text-decoration" href="">NIÑOS</a>
                        </div>
                        <div class=" recetados margin-10">
                            <div class="recetados-barra""></div>
                        <a class=" text-decoration" href="">RECETADOS</a></div>
            </section>
            <nav class=" nav-icon display-flex margin-10 ">
                <div style="margin: 0px 20px;" class="bag-menu">
                    <label for="" class="label-none">Register</label>
                    <a href="register"><i class="lni lni-user iconos-header"></i></i>
                        <ul>
                            <a href="register">
                                <li>Registrate</li>
                            </a>
                            <a href="">
                                <li>Ingresa</li>
                            </a>
                        </ul>
                    </a>
                </div>
                <div style="margin: 0px 20px;" class="register-opction">
                    <label for="" class="label-none">Bag</label>
                    <a href="carrito"><i class="lni lni-shopping-basket iconos-header"></i>
                    </a>
                </div>

            </nav>

        </div>

        <section class="bar w-30 display-flex margin-10" style="justify-content: space-between;align-items: center;">
            <div class="search-bar">
                <label for="" class="label-none">Barra de busqueda</label>
                <input type="text" name="search-bar" id="search-bar">
                <i class="lni lni-search-alt"></i>
            </div>
            <div style="margin: 0px 20px;"> <a href=""><i class="lni lni-menu iconos-header"></i></a>
                <label for=""></label>

        </section>

        </div>

    </header>
    <main class="main">
        <section>
            <div class="display-flex" style="align-items: center; justify-content: center;">
                <img src="/img/shutterstock_424262176.jpg" alt="">
            </div>

        </section>
        <div class="bg-skyblue pad-10">
            <h2 class="display-flex" style="justify-content: space-around; align-items: center;">
                <p class="text-center font-14 font-ligth">
                    <a class="text-decoration-2" href="">ENVIOS GRATIS </a>
                </p>
                <i style="color: white;" class="fas fa-grip-lines-vertical margin-10"></i>
                <p class="text-center font-14 font-ligth">
                    <a class="text-decoration-2" href="">DEVOLUCIONES GRATIS </i></a>
                </p>
                <i style="color: white;" class="fas fa-grip-lines-vertical margin-10"></i>
                <p class="text-center font-14 font-ligth">
                    <a class="text-decoration-2 " href="">GARANTIA 30 DIAS</a>
                </p>
            </h2>
        </div>
        <section class="products">
            <div class="diplay-flex pad-50 margin-10">
                <h2 style="justify-content: center; align-items: center;">
                    <p style="text-align: center;">
                        ELEGI TU ESTILO
                    </p>
                    <p class="text-decoration-3 margin-10" style="text-align: center;">
                        100% High Quality / Híper livianos / Súper confortables
                    </p>
                </h2>
            </div>
        </section>
        <section style="margin: 10px 80px;">
            <div class="gondola ">
                <article class=" margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\joss-negro-mate.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$6999</p>
                            <h4 class="descripcion">JOSS negro mate</h4>
                        </div>
                    </div>
                </article>


                <article class=" margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\joss-rosa.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$7499</p>
                            <h4 class="descripcion">JOSS rosa</h4>
                        </div>
                    </div>
                </article>

                <article class="margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\ahren-carey-habano.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$8999</p>
                            <h4 class="descripcion">AHREN carey habano</h4>
                        </div>
                    </div>
                </article>

                <article class="margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\ahren-cristal.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$9499</p>
                            <h4 class="descripcion">AHREN cristal</h4>
                        </div>
                    </div>
                </article>
                <article class=" margin-10 productos ">
                    <div class="precios-descripcion shadows">
                        <img src="\img\joss-negro-mate.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$6999</p>
                            <h4 class="descripcion">JOSS negro mate</h4>
                        </div>
                    </div>
                </article>


                <article class=" margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\joss-rosa.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$7499</p>
                            <h4 class="descripcion">JOSS rosa</h4>
                        </div>
                    </div>
                </article>

                <article class="margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\ahren-carey-habano.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$8999</p>
                            <h4 class="descripcion">AHREN carey habano</h4>
                        </div>
                    </div>
                </article>

                <article class="margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\ahren-cristal.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$9499</p>
                            <h4 class="descripcion">AHREN cristal</h4>
                        </div>
                    </div>
                </article>
                <article class=" margin-10 productos ">
                    <div class="precios-descripcion shadows">
                        <img src="\img\joss-negro-mate.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$6999</p>
                            <h4 class="descripcion">JOSS negro mate</h4>
                        </div>
                    </div>
                </article>


                <article class=" margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\joss-rosa.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$7499</p>
                            <h4 class="descripcion">JOSS rosa</h4>
                        </div>
                    </div>
                </article>

                <article class="margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\ahren-carey-habano.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$8999</p>
                            <h4 class="descripcion">AHREN carey habano</h4>
                        </div>
                    </div>
                </article>

                <article class="margin-10 productos">
                    <div class="precios-descripcion shadows">
                        <img src="\img\ahren-cristal.jpg" class="fotos">
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <p class="precios">$9499</p>
                            <h4 class="descripcion">AHREN cristal</h4>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <div class="boder-1px margin-10">
            <h4 class="text-center margin-10">
                ¿Tiene preguntas sobre gafas?
            </h4>
            <p class="text-center">
                Tenemos respuestas. Aprenda a encontrar estilos para la forma de su rostro, comprenda su
                prescripción e
                incluso mida la distancia pupilar.
            </p>
            <div class="j-space-between margin-10 display-flex">
                <p class=" text-center">
                <div class="icono-receta margin-10">
                    <img style="width: 30px;" src="/img/how-to-read.svg" alt="">
                    <a class="text-center text-sinformato margin-10" href="/how-to-read">¿Como leer una receta?
                    </a>
                </div>
                <div class="icono-receta margin-10">
                    <img style="width: 30px;" src="/img/pupillary.svg" alt="">
                    <a class="text-center text-sinformato margin-10" href="">Distancia pupilar
                    </a>
                </div>
                <div class="icono-receta margin-10">
                    <img style="width: 30px;" src="/img/face-shape.svg" alt="">
                    <a class="text-center text-sinformato margin-10" href="">Marcos y formas faciales
                    </a>
                </div>
                </p>
            </div>
        </div>
    </main>
    <footer>
        <p>
        <div class="loguitos">
            <i class="far fa-handshake"></i>
        </div>
        <div class="pies">TERMINOS Y CONDICIONES</div>
        <p>Una vez admitida la resolución del contrato, en caso de devolución del dinero la entidad debe hacer el
            reintegro en 14
            días contados desde la solicitud, de acuerdo a lo dispuesto en el RD 1/2007, por lo que el establecimiento
            no debe
            diferir mucho más la devolución excusándose en plazos más amplios.</p>
        </p>

        <p>
        <div class="loguitos">
            <i class="fas fa-users"></i>
        </div>
        <div class="pies">NOSOTROS</div>
        <p>Nuestra misión es contribuir al desarrollo de la salud visual en el país al precio más bajo del mercado. Para
            ello,
            contamos con asesoría profesional en todas nuestras sucursales y la más amplia variedad en productos
            ópticos: lentes
            oftálmicos, lentes de sol, lentes de contactos y accesorios..</p>
        </p>

        <p>
        <div class="loguitos">
            <i class="far fa-comments"></i>
        </div>
        <div class="pies">CONTACTO</div>
        <p>
        <ul>Ecommerce@optica.com.ar</ul>
        <ul>Sucursales@optica.com.ar</ul>
        </p>

        <p>
        <div class="loguitos">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
        </div>
        <div class="pies">REDES</div>
        <p>Seguinos en nuestras redes sociales</p>
        </p>
    </footer>

</body>

</html>