<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Como leer una receta</title>

    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
    <link rel="stylesheet" href="/css/style-register.css">
</head>

<body>
    <header class=" j-space-between bgc-header font-color header ">
        <div class="block-A display-flex" style="justify-content: space-between; align-items:center;">
            <section class="logotype display-flex">
                <div class=" logo">
                    <a href="/"><img src="/img/logo.svg" alt="logo"></a>
                    <div class="logo-verde">
                        <a href="/"><img src="/img/logo-verde.svg" alt="logo"></a>
                    </div>
                </div>
            </section>
            <section style=" align-items: center;" class=" categorias margin-10 display-flex w-45 font-12 ">
                <div class="hombre margin-10 ">
                    <div class="hombre-barra""></div>
                    <a class=" text-decoration" href="">HOMBRE
                        </a>
                    </div>
                    <div class="mujer margin-10">
                        <div class="mujer-barra""></div>
                        <a class=" text-decoration" href="">MUJER</a>
                        </div>
                        <div class=" niños margin-10">
                            <div class="niños-barra"></div>
                            <a class=" text-decoration" href="">NIÑOS</a>
                        </div>
                        <div class=" recetados margin-10">
                            <div class="recetados-barra""></div>
                        <a class=" text-decoration" href="">RECETADOS</a></div>
            </section>
            <nav class=" nav-icon display-flex margin-10 ">
                <div style="margin: 0px 20px;" class="bag-menu">
                    <label for="" class="label-none">Register</label>
                    <a href="register"><i class="lni lni-user iconos-header"></i></i>
                        <ul>
                            <a href="register">
                                <li>Registrate</li>
                            </a>
                            <a href="">
                                <li>Ingresa</li>
                            </a>
                        </ul>
                    </a>
                </div>
                <div style="margin: 0px 20px;" class="register-opction">
                    <label for="" class="label-none">Bag</label>
                    <a href="carrito"><i class="lni lni-shopping-basket iconos-header"></i>
                    </a>
                </div>

            </nav>
        </div>

        <section class="bar w-30 display-flex margin-10" style="justify-content: space-between;align-items: center;">
            <div class="search-bar">
                <label for="" class="label-none">Barra de busqueda</label>
                <input type="text" name="search-bar" id="search-bar">
                <i class="lni lni-search-alt"></i>
            </div>
            <div style="margin: 0px 20px;"> <a href=""><i class="lni lni-menu iconos-header"></i></a>
                <label for=""></label>
        </section>
        </div>
    </header>
    <main>
        <div class="margin-10">
            <h2 class="margin-10">
                Cómo leer una receta de anteojos
            </h2>
            <h6 class="margin-10">
                Revisado por: ---------- , OD el *fecha*
            </h6>
            <p class="margin-10">
                ¡Saber leer una receta de anteojos es esencial! Si bien es probable que sepa si es miope, hipermetropía
                o
                astigmatismo, determinar eso a partir de su receta es otra cosa. Es por eso que hemos elaborado una
                breve
                guía para ayudarlo a aprender a leer una receta de anteojos para que pueda ordenar su nuevo par de
                anteojos
                lo más rápido posible.
            </p>
            <div class="display-flex margin-10">
                <img style="width: 100%;" src="/img/od.png" alt="">
            </div>
            <section>
                <h2 class="margin-10">
                    ¿Qué significan todas estas letras y números?
                </h2>
                <div class="info">
                    <p class="texto-1 margin-10">
                        Si realiza un examen de la vista y descubre que las necesidades de sus ojos han cambiado,
                        debe
                        solicitar
                        una nueva receta lo antes posible. Ahí es donde entra su nueva receta de su optometrista u
                        oftalmólogo.

                        La mayoría de los minoristas en línea le piden que lea e ingrese su receta en su formulario
                        de
                        pedido,
                        pero si no sabe cómo leer su receta, ese proceso puede complicarse.
                    </p>
                    <img style="width: 100%;" class="img-receta margin-10" src="/img/receta.jpg" alt="">
                </div>
            </section>
        </div>
        <div>
            PORDUCTO OFERTA (BORRAME)
        </div>
    </main>
</body>

</html>