@media (max-width: 1024px) {
  .categorias {
    display: none;
  }
  .bar {
    width: 40%;
  }
  .logotype {
    width: 50%;
  }
  .nav-icon {
    width: auto;
  }
  .main {
    margin-top: 0px;
  }

  @media (max-width: 480px) {
    .header {
      display: block;
      justify-content: space-between;
    }
    .block-A {
      width: 100%;
    }
    .bar {
      width: 100%;
      padding: 5px;
    }
    .main {
      margin-top: -10px;
    }
  }
}
@media (min-width: 480px) {
  main article.productos {
    width: 45%;
  }
}
