.no-access {
  color: #2567e6;
  margin: 10px 0px;
  text-decoration: underline;
  cursor: pointer;
}

.m-formularies-2 {
  margin: 10px 0px;
  text-align: center;
}

@media (max-width: 479px) {
  .modelos {
    display: none;
  }
}
